body {
  background-color: rgb(64, 88, 162);
    
  /*Centers the main content on the page*/ 
  display: flex;
  justify-content: center;
}

/*Set max width for the image so it does not exceed the size of its container*/
img {
max-width: 340px;
}
  
main {
  max-width: 350px;
    
  /*Gives the main section a bright green color to contrast with the dark background 
  and draw the users attention to what's important*/
  background-color: rgb(181, 216, 110);

  /*Centers content in main section and allows content that overflows on the right 
  to wrap around to the next line*/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0px 25px 25px 25px;
  margin: 20px;
  border-style: solid;
  border-color: black;
}

#paragraph-to-type {
  padding: 0px 15px 0px 15px;
  margin: 10px 0px 15px 0px;
  background-color: rgb(204, 204, 204);
  border-style: solid;
  border-color: black;
}

/*I read the following forum thread on Stack Overflow to figure out how to disable the resizing feature
of the text area element.
https://stackoverflow.com/questions/5235142/how-do-i-disable-the-resizable-property-of-a-textarea#5235160*/
textarea {
  resize: none;
}

/*Adds margins to all button elements*/
button {
    margin: 20px;
}

#timer-section {
    margin: 10px 50px 10px 50px;
}

#wpm-section {
    margin: 0px 50px 10px 50px;
}

#error {
    margin: 0px 50px 10px 50px;
}

/*Moves note that tells users to scroll down on page to see more content 
to the bottom of the viewport and to the right. I found some help on how to do this on
the following stack overflow page.
https://stackoverflow.com/questions/6029102/align-an-element-to-the-bottom-of-window#6029162*/
#scroll-down {
  position: fixed;
  bottom: 0;
  right: 100%;
}
